body {
  /* Set line height to 1.5 times the font size
     and use the OS’s UI font as the website font
  */
  font: 100%/1.5 Times;

  max-width: 100ch;
  margin-inline: auto;


  padding: 1rem;

}

/*Theme*/
html {
  color-scheme: light dark;

  --color-accent: skyblue;
  accent-color: var(--color-accent);
}

/*Navigation Bar*/
nav ul,
nav li {
  display: contents;
}

nav {
  position: fixed;
  right: 30px;

  z-index: 1000;

  background: color-mix(in oklch, canvas, var(--color-accent) 10%);

  display: flex;
  margin-bottom: 1em;
  border-bottom:  1px solid oklch(33.5% 0.00819 197.026);
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(0% 0 0 / 0.344);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

/*contact*/
input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  grid-column: 1 / -1;
  margin-block: 0.5em;
}

form input,
form textarea {
  width: 100%;
  box-sizing: border-box;
}

form button {
  grid-column: 1 / -1;
}

/*project*/
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
  margin-block: 2em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
  
  border: 1px solid oklch(84.82% 0.07618 234.629 / 0.5);
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 0 2px 4px oklch(84.82% 0.07618 234.629  / 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.projects img {
  display: block;
  width: 100%;
  height: auto;
  margin-block: 0.5em;
}

.projects h2 {
  font-size: 1.2em;
  color: var(--color-accent);
  margin: 0; 
}

.projects p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
  font-weight: 600;
}

h1 {
  font-size: 400%;
  margin-bottom: 0.5em;
}

/*Resume*/
.header-row {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

/*light/dark key*/
.color-scheme {
  position: fixed;
  left: 30px;
  top: 20px;
  z-index: 1100;

  font-family: system-ui, sans-serif;
  font-size: 0.9rem;
  background: color-mix(in oklch, canvas, var(--color-accent) 10%);
  padding: 0.4em 0.6em;
  border-radius: 0.5em;
  border: 1px solid var(--border-color);
}

.color-scheme select {
  margin-left: 0.4em;
  font-size: inherit;
  background: canvas;
  color: canvastext;
  border: 1px solid var(--border-color);
  border-radius: 0.3em;
}

